/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-family: "oswald-light";
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

.accordion-toggle {
  background-color: #ffd301;
  padding: 0.5rem;
  border-radius: 4px;
  display: flex;
}

.accordion-title {
  display: flex;
  align-items: center;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  font-family: "oswald-light";
  font-weight: normal;
}

.question {
  font-family: "oswald-bold";
  margin-right: 20px;
  font-size: large;
}

.title {
  font-family: "oswald-bold";
}

.bar {
  border-bottom: 20px solid black;
}

.svg-toggle__icon {
  transition-duration: 0.2s;
  transition-property: transform;
}

.btn-active {
  transform: rotate(45deg);
}

.faq-container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 2rem;
}
